@import url("style/header.css");
@import url("style/banner.css");
@import url("style/carrossel.css");
@import url("style/topicos.css");
@import url("style/contato.css");
@import url("style/rodapé.css");


:root {
    --cor-de-fundo: #0d0d0e;
    --branco: #FFFFFF;
    --laranja: #1d1b1d;
    --azul-degrade: linear-gradient(97.54deg, #1522cf 35.49%, #19a8e0 165.37%);
    --fonte-principal: "Poppins";
    --azul: #520000;
    --fonte-secundario: "Josefin Sans";
    --preto: #f3eded;
    --cinza: #c2adbf;
    --cinza-claro: #21b8cc;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
